
<body style="margin: 0; padding: 0; box-sizing: border-box;">
    <nav>
        <div class="navbar" style="border-bottom: 3px solid #000; display: flex; justify-content: space-between; align-items: center; padding:0 10px;">
            <h1>NAVBAR</h1>
            <div class="btn">
                            <a href="/register"><button  style="padding: 5px 10px; color: #3f3f3f; background-color: #fff; width: 90px; border-radius: 5px; box-shadow: 6px 5px 8px #888888;">Register</button></a>
            <a href="/login"><button  style="padding: 5px 10px; color: #3f3f3f; background-color: #fff; width: 70px; border-radius: 5px; box-shadow: 6px 5px 8px #888888;">login</button></a>
            </div>
        </div>
    </nav>
</body>
